
@font-face {
	font-family: 'dinpro';
	src: url('../fonts/DinProRegular.woff');
}
@font-face {
	font-family: 'dinprobold';
	src: url('../fonts/DinProBold.woff');
}
*,
*:before,
*:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
address {
  	font-style: normal;
}
nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}
figure {
  	margin: 0;
}
a {
	color: #2b2b2b;
	text-decoration: none;
}
.clearfix:after {
  	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'dinprobold';
}
* {

	h1, h2, h3, h4, h5, h6 {

		&:first-child {
			margin-top: 0;
		}
	}
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 20px;
}
input[type=text],
input[type=email],
input[type=submit],
textarea {
	border: 1px solid #dadada;
	outline: none;
}
.container {
	position: relative;
	width: 1010px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-main {
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 0 6px #333;
	box-shadow: 0 0 6px #333;
}
body {
	font-family: 'dinpro', Helvetica, sans-serif;
	color: #2b2b2b;
	background: #eee;
	overflow-y: scroll;
}
.top-panel {
	padding: 5px 0;
	background: #f3f3f3;
	border-bottom: 1px solid #dadada;
}
.menu-top {
	padding-top: 2px;

	li {
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;

		a {
			font-size: 13px;
			color: #111;
			text-decoration: underline;
		}
		a:hover {
			text-decoration: none;
		}
	}
	li:last-child {
		margin-right: 0;
	}
}
.search-top-form {
	position: relative;
}
.search-top-form,
.search-top-form input[type=text] {
	width: 210px;
	height: 30px;
}
.search-top-form input[type=text] {
	padding: 0 10px;
	font-size: 12px;
	color: #2b2b2b;
	text-transform: uppercase;
}
.search-top-form input[type=submit] {
	position: absolute;
	width: 27px;
	height: 24px;
	top: 3px;
	right: 5px;
	background: url('../img/search-icon.png') no-repeat center center;
	border: none;
}
.gl-header {
	padding: 10px 0;
}
.contacts-top {
	width: 310px;
	margin-left: 75px;
	padding-left: 75px;
	background: url('../img/map-icon.png') no-repeat center left;
}
.phones-top {
	width: 235px;
	margin-left: 45px;
	padding-left: 75px;
	background: url('../img/call-icon.png') no-repeat center left;
}
.feedback-top {
	display: block;
	width: 200px;
	height: 70px;
	margin-top: 10px;
	padding-top: 20px;
	padding-left: 90px;
	color: #2b2b2b;
	text-decoration: underline;
	background: url('../img/feedback-icon.png') no-repeat center left;
}
.feedback-top:hover {
	text-decoration: none;
}
.menu-main {
	background: #2b2b2b;
	text-align: center;
	border-bottom: 2px solid #d5ab06;

	li {
		display: inline-block;
		margin-right: -3px;
		vertical-align: top;

		a {
			display: block;
			padding: 15px 35px;
			font-size: 18px;
			color: #fff;
		}
		a:hover {
			background: #3b3b3b;
		}
	}
}
.slider .container {
	padding: 0;
}
.slide-single {

	.slide-img {
		width: 785px;
		height: 320px;
		overflow: hidden;

		img {
			height: auto;
		}
	}
	.slide-desc {
		width: 225px;
		padding: 40px 15px 20px;
	}
	.slide-title {
		margin: 0;
		font-family: 'dinprobold', Helvetica, sans-serif;
		font-size: 18px;
	}
	.slide-info {
		margin: 20px 0 40px;
	}
	.slide-link {
		padding: 10px;
		font-size: 13px;
		border: 1px solid #d5ab06;
	}
	.slide-link:hover {
		text-decoration: underline;
	}
}
.slick-dots {
	width: 210px;
	height: 10px;
	top: 278px;
	right: 0;

	li {
		width: 10px;
		height: 10px;
		background: #fff;
		border: 1px solid #d5ab06;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		button:before {
			content: none;
		}
	}
	li.slick-active {
		background: #d5ab06;
	}
}
.menu-additional {
	padding: 25px 0;
	text-align: center;

	.menu-addit-single {
		display: inline-block;
		width: 225px;
		margin: 0 70px;
		text-align: left;
		vertical-align: top;
	}
	.menu-addit-single:first-child {
		margin-left: 0;
	}
	.menu-addit-single:last-child {
		margin-right: 0;
	}
	.img-wrap {
		padding-left: 50px;
	}
	.menu-addit-title {
		margin: 15px 0 10px;
		font-family: 'dinprobold', Helvetica, sans-serif;
	}
	.menu-addit-link {
		padding: 5px 10px;
		font-size: 12px;
		border: 1px solid #d5ab06;
	}
	.menu-addit-link:hover {
		text-decoration: underline;
	}
	ul {
		margin-bottom: 15px;

		li {
			margin-bottom: 10px;

			a {
				font-size: 13px;
				line-height: 16px;
				text-decoration: underline;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}
.info-block-1 {
	padding: 20px 0;
	background: #d5ab06;

	.to-left {
		width: 50%;

		p {
			margin: 5px 0;
			font-size: 18px;
		}
		p:first-child {
			margin-top: 0;
		}
	}
	.info-block-left {
		text-align: center;

		p {
			margin: 10px 0;
		}
		p:first-child {
			font-size: 25px;
			color: #fff;
		}
		p:nth-child(2) {
			text-transform: uppercase;
		}
	}
}
.content-block {

	.container {
		padding: 30px 20px;

		p:first-child {
			margin: 0 0 5px;
		}
	}
	p {
		margin: 5px 0;
		font-size: 14px;
	}
}
.articles-list {

	.article-single {
		margin: 0 0 30px;
	}
	.article-single:last-child {
		margin: 0;
	}
	.article-link {
		display: inline-block;
		margin: 0 0 15px;
		padding: 5px 10px;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid #2b2b2b;
	}
	.article-link:hover {
		text-decoration: underline;
	}
	.article-desc {
		display: block;
		margin: 0 0 5px;
		font-size: 14px;
		line-height: 18px;
	}
	.article-date {
		margin: 5px 0;
		font-size: 14px;
		color: #d5ab06;
	}
	.article-content {
		margin: 5px 0;
	
		p:first-child {
			margin: 0 0 5px;
		}
		p {
			margin: 5px 0;
			font-size: 13px;
			line-height: 20px;
		}
	}
}
.gl-footer {

	.container {
		padding: 25px 15px;
	}
}
.menu-bottom {
	margin: 0 0 0 35px;

	ul {
		float: left;
		margin-right: 20px;

		li {
			margin-bottom: 5px;

			a {
				font-size: 13px;
				text-decoration: underline;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	ul:last-child {
		margin: 0;
	}
}
.copyrights {
	margin: 15px 0 0;
	font-size: 12px;
}